* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif, "Segoe UI", Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.control {
  position: fixed;
  background-color: rgba(3, 169, 244, 0.9);
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
.control .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  cursor: pointer;
}
.info {
  width: 1080px;
  height: 30px;
  margin: 10px auto 20px;
  position: relative;
  border: 2px solid #2196f3;
  background-color: white;
  padding: 10px;
  overflow: hidden;
}
.info .name {
  left: 0;
  position: absolute;
  top: 0;
  padding: 5px;
}
.info .tries {
  right: 0;
  position: absolute;
  top: 0;
  padding: 5px;
}
.memory-blocks {
  width: 880px;
  height: 540px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.memory-blocks.no-clicking {
  pointer-events: none;
}
.memory-blocks .game-block {
  position: relative;
  height: 120px;

  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  flex: 1 0 150px;
}
.memory-blocks .game-block .front {
  background-color: #333;
  line-height: 120px;
  position: relative;
  background-color: black;
}
.memory-blocks .game-block .front::before {
  content: "?";
  color: white;
  font-weight: bold;
  font-size: 100px;
}
.memory-blocks .game-block .back {
  background-color: #607d88;
  text-align: center;
  transform: rotateY(180deg);
}
.memory-blocks .game-block .back img {
  width: 90px;
  height: 90px;
  margin-top: 10px;
}
.memory-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;

  backface-visibility: hidden;
  border: 5px solid #2196f3;
  text-align: center;
}
.memory-blocks .game-block.flip,
.memory-blocks .game-block.matching {
  transform: rotateY(180deg);
  pointer-events: none;
}
